doctype html
html
    head
        style
            include style.css
    body
        div.main
            block content
        div
            | DONE
            br
            |HW-7
            br
            |
            a(href="#") click